html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.obj {
    position: relative;
    width: 100%;
    height: 100%;
}
.obj div {
    position: absolute;
    top: calc(50% - 5vmin);
    left: calc(50% - 5vmin);
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    /* animation: move 2s linear 0s infinite; */
}

.obj div:nth-child(1) { background: #000c; }
.obj div:nth-child(2) { background: #666c; }
.obj div:nth-child(3) { background: #cccc; }

.obj div:nth-child(1) { animation: move 1s ease 0s infinite; }
.obj div:nth-child(2) { animation: move 1s ease 0.1s infinite; }
.obj div:nth-child(3) { animation: move 1s ease 0.2s infinite; }

@keyframes move {
    0% { transform: translate(-7.5vmin, -7.5vmin); }
    25% { transform: translate(7.5vmin, -7.5vmin); }
    50% { transform: translate(7.5vmin, 7.5vmin); }
    75% { transform: translate(-7.5vmin, 7.5vmin); }
    100% { transform: translate(-7.5vmin, -7.5vmin); }
}